@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

header {
  background-color: #AB2A19;
  width: 100vw;
  height: 115px;
  margin-top: -17px;
  display: flex;
  align-items: center;
  color: white;
  font-family: Open Sans;
  padding-left: 75px;
}

header img {
  width: 50px;
  height: 50px;
  transform: translate(-15%, 0%);
}

header h1 {
  transform: translate(20%, 0%);
}

main {
  /* background-color: green; */
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  background-color: #AB2A19;
  width: 450px;
  height: 250px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.product-desc {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.product img {
  width: 300px;
  height: 200px;
}

.form {
  background: green;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 0 10px;
  height: 600px;
}